@import '../styles/components/link.scss';
@import '../styles/utils.scss';
@import '../styles/sizes.scss';

header {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $small-padding;
    box-shadow: $box-shadow;

    .navigation {
        display: flex;
        gap: $small-gap;
    }

    .actions {
        display: flex;
        gap: $medium-gap;
    }
}