@import 'styles/sizes';
@import 'styles/utils';
@import 'styles/components/link';

.container {
    display: flex;
    height: calc(100vh - $header-height - 2 * $small-padding);
    width: calc($sidenav-width - 2 * $small-padding);
    padding: $small-padding;
    box-shadow: $box-shadow;

    .links {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: $small-gap;
    }
}