@import '/src/styles/components/link';
@import '/src/styles/utils';
@import '/src/styles/sizes';
@import '/src/styles/color';

header {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $small-padding;
    box-shadow: $box-shadow;
    background-color: $base;
    color: $violet;

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $small-gap;

        .logo {
            font-size: 2em;
        }
    }

    .actions {
        display: flex;
        gap: $medium-gap;
    }
}