@import 'styles/components/link';
@import 'styles/utils';
@import 'styles/sizes';

header {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $small-padding;
    box-shadow: $box-shadow;

    .navigation {
        display: flex;
        gap: $small-gap;
    }

    .actions {
        display: flex;
        gap: $medium-gap;
    }
}