@import '/src/styles/components/link';
@import '/src/styles/utils';
@import '/src/styles/sizes';
@import '/src/styles/color';

header {
  display: flex;
  align-items: center;
  gap: $small-gap;
  padding: 0 $small-padding;
  box-shadow: $box-shadow;
  background-color: $base;
  color: $violet;
  cursor: pointer;

  img {
    width: 45px;
    cursor: pointer;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(289deg)
      brightness(105%) contrast(102%);

    &:hover {
      filter: invert(0%) sepia(0%) saturate(7483%) hue-rotate(71deg)
        brightness(104%) contrast(104%);
    }
  }

  .navigation {
    height: $header-height;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-size: 2em;
    }

    .actions {
      display: flex;
      gap: $medium-gap;
    }
  }
}
