@import '/src/styles/_sizes';

.container {
    padding: 0;
    margin: 0;
    height: calc(100vh - $header-height);

    &.open {
        width: calc(100vw - $sidenav-width);
    }

    &.closed {
        width: 100vw;
    }
}